In [2]:
import re # Regular expressions
import pandas as pd # Dataframe module
import numpy as np # Math module

with open("data/test_data.txt","r") as data_file: # "with" closes the file automatically.
    lines = data_file.readlines()
    
data_headers = ['date', 'rate', 'volume', 'cap']

df = pd.DataFrame(columns=data_headers)

['    * \t\tcoin:\xa0"BTC"\u2028data:\xa0[{date: 1642106400000, rate: 42606.65166103956, volume: 15884015374, cap: 806469865583},…]\n', '        * \t\t[0 … 99]\n', '            * \t\t0:\xa0{date: 1642106400000, rate: 42606.65166103956, volume: 15884015374, cap: 806469865583}\n', '                * \t\tcap:\xa0806469865583\u2028date:\xa01642106400000\u2028rate:\xa042606.65166103956\u2028volume:\xa015884015374\n', '            * \t\t1:\xa0{date: 1642132200000, rate: 42700.7646262845, volume: 34958610821, cap: 808262490748}\n', '                * \t\tcap:\xa0808262490748\u2028date:\xa01642132200000\u2028rate:\xa042700.7646262845\u2028volume:\xa034958610821\n', '            * \t\t2:\xa0{date: 1642158000000, rate: 42134.72304237299, volume: 27334118224, cap: 797560503949}\n', '                * \t\tcap:\xa0797560503949\u2028date:\xa01642158000000\u2028rate:\xa042134.72304237299\u2028volume:\xa027334118224\n', '            * \t\t3:\xa0{date: 1642183800000, rate: 42957.07381748902, volume: 20222197339, cap: 813139819925}\n']
<bound method NDFrame.head of Empty DataFrame
Columns: [date, rate, volume, cap]
Index: []>

In [6]:
count = 0
for line in lines:
    count+= 1
    line_trunc = " ".join(line.strip().split()[1:3])
    indicator = re.compile('\d+:.*.*date:')
    result = indicator.search(line_trunc)
    if result != None:
        
        # Extract date, rate, volume, cap from this line of data.
        row = []
        for header in data_headers:
            header_pattern = re.compile('%s:.\d+' % header)
            try:
                row.append(header_pattern.search(line).group())
            except AttributeError:
                print("Something's gone wrong with pattern matching the date, rate, volume, and cap...")
                print("Data line %s content: %s" % (count, line))
        row = [x.split()[1] for x in row]
        row = pd.Series(row, index = df.columns)
        df = df.append(row, ignore_index = True)

In [4]:
df

              date   rate       volume           cap
0    1642106400000  42606  15884015374  806469865583
1    1642132200000  42700  34958610821  808262490748
2    1642158000000  42134  27334118224  797560503949
3    1642183800000  42957  20222197339  813139819925
4    1642209600000  43150  15015629680  816812254015
..             ...    ...          ...           ...
297  1649769000000  40576  22787546207  771346985176
298  1649794800000  39500  21290623578  750895338984
299  1649820600000  40247  19681381909  765119692895
300  1649846400000  39980  18220559949  760057903501
301  1649872200000  41003  17892558874  779511648463

[302 rows x 4 columns]